body {
  font-family: Monserrat, Arial, sans-serif;
  display: flex;
  flex-direction: row;
  align-content: center;
}

@media (max-width: 800px) {
  body {
    flex-direction: column;
  }
}

#leftside {
  display: flex;
  align-content: left;
  margin: 20px;
}

#rightside {
  margin: 20px;
}

#exampleArea {
  width: 300px;
  height: 200px;
  border: 1px solid #121212;
  border-radius: 8px;
  display: flex;
  align-content: center;
  background-color: #efefef;
  flex-wrap: wrap;
}

#boxes {
  height: 25%;
  width: 25%;
  background-color: #00848b;
  border: .5px solid white;
  border-radius: 8px;
}

p {
  font-weight: bold;
}

button {
  border: none;
  border-radius: 32px;
  padding: 12px;
  margin: 2px;
}
